.App {
  text-align: center;
}

body{
  background-color: rgb(241, 157, 0);
  color: aliceblue;
}
form {
  /* width: 20rem; */

  margin: auto;
}form input{
  padding: 10px;
  outline: none;
  width: 30%;
}
.list{
  width: 400px;
  height: 7rem;
  background-color: red;
}